<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jcgl.mapper.SysUserMapper">
    <!--自定义返回的结果-->
    <resultMap id="WithschoolResultMap" type="com.jcgl.entity.SysUser">
        <id column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="school_id" jdbcType="INTEGER" property="schoolId" />
        <result column="role_id" jdbcType="INTEGER" property="roleId" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="user_status" jdbcType="VARCHAR" property="userStatus" />
        <!--指定联合查询出的部门字段的封装-->
        <association property="SysSchool" javaType="com.jcgl.entity.SysSchool">
                <id column="school_id" jdbcType="INTEGER" property="schoolId" />
                <result column="school_type" jdbcType="INTEGER" property="schoolType" />
                <result column="school_name" jdbcType="VARCHAR" property="schoolName" />
                <result column="school_alias" jdbcType="VARCHAR" property="schoolAlias" />
        </association>
    </resultMap>

    <!--自定义 带部门信息查询-->
    <sql id="WithSchool_Column_List">
        u.user_id, u.school_id, u.role_id, u.user_name, u.user_status,s.school_id, s.school_type, s.school_name, s.school_alias
    </sql>
    <!--自定义 带部门信息查询员工-->
    <select id="selectByExampleWithSchool" resultMap="WithschoolResultMap">
        SELECT
        <if test="distinct">
            DISTINCT
        </if>
        <include refid="WithSchool_Column_List"/>
        FROM sys_user u LEFT JOIN sys_school s
        ON u.school_id = s.school_id
        <if test="_parameter != null">

        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKeyWithSchool" resultMap="WithschoolResultMap">
        SELECT
        <include refid="WithSchool_Column_List"/>
        FROM sys_user u LEFT JOIN sys_school s
        ON u.school_id = s.school_id
        WHERE user_id = #{userId,jdbcType=INTEGER}
    </select>


    <select id="selectPageVo" resultType="com.jcgl.entity.SysUser">
    SELECT user_id,user_name FROM sys_user WHERE user_status=#{state}
    </select>

</mapper>
